* {
  font-family: Arial, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  align-items: center;
  min-height: 100vh;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
}

.calculator {
  width: 400px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(60px);
  padding: 25px 30px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.14) 0px 1px 8px;
}

.calculation-display {
  background-color: white;
  display: flex;
  justify-content: end;
  font-size: 2.3em;
  border-radius: 12px;
  padding: 10px 15px;
  margin-bottom: 20px;
}

.btn-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 20px;
}

.number-btn,
.symbol-btn,
.clear-btn {
  font-size: 1.5em;
  width: 50px;
  height: 50px;
  padding: 27px;
  color: white;
  border: none;
  border-radius: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.number-btn {
  background-color: rgb(51, 51, 51);
}

.symbol-btn {
  background-color: rgb(254, 160, 10);
}

.clear-btn {
  background-color: rgb(51, 51, 51);
  font-size: 16px;
}
